// Variables colors:
$primary: black;
$column-gap: 2rem;
$secondary: #FFFFE0;
$info: #FFFFE0;

@import 'bulma-0.7.4/bulma.sass';

#cardTitle {
  margin-bottom: 0;
}

form {
  h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  .quantity {
    width: 3rem;
  }
}

.footer {
  background-color: $secondary;
}

.allButFooter {
  min-height: calc(100vh - 40px);
}

.input {
  border-color: $primary;
}

.button {
  margin-bottom: 10px;
}

a {
  color: $primary;
}

.hero {
  background: {
    image: url(https://i.pinimg.com/originals/d2/d6/3e/d2d63ec0a41b9aa94b0dc195204f99a5.jpg);
    size: contain;
    repeat: no-repeat;
    position: center;
  }
  width: 100%;
  margin: auto;
}

.hero{
  padding: {
    top: 3rem;
    bottom: 3rem;
  }
}

.navbar {
  background-color: $secondary;
  padding: {
    top:50px;
    left: 25%;
    right: 25%;
    bottom: 50px;
  }
}

.completeOrder {
  margin: {
    top: 2rem;
  }
}

.cart {
  font-size: 1.5rem;
  margin: {
    right: 1rem;
    bottom: 5px;
  }
}

.login {
  margin-top: 60px;
}

.columns {
  justify-content: center;
  align-self: center;
  width: 70%;
  margin: auto;
}

.button-box {
  margin: {
    top: 10px;
  }
}